body {
    text-align: center;
    background-color: #feebf1;
    margin: 0;
}
body a {
    color: inherit;
    text-decoration: none;
}
/* to top button*/
#butterfly-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

#butterfly {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}


h1 { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 1.8; color: #6b3700; } 
h3 { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
p { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.8; } 
h4{ font-size: larger;}

/* nav bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eb589e;
    display: inline-block;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: #e3c6a4;
    font-family: fantasy;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 10px;
}

li a:hover {
    background-color: #e63b8e;
}


/*for the top of index*/

#container {
    display: flex;
    width: 100%;
}

#left-half {
    background-color: #8B4513;
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    color: white;
    text-align: center; 
    
}

#left-half h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left; 
}

#left-half p {
    font-size: large;
    text-align: left; 
}

#right-half {
    width: 50%; 
}


#logo {
    margin-top: 2px;
}

/* for button */

#button {
    padding: 10px;
    background-color: #e63b8e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#button a {
    text-decoration: none;
    color: inherit; 
}




/* for the bottom of home */

#line {
    position: absolute;
    top: 0;
    left: 75%;
    height: 100%;
    width: 3px;
    background-color: #8c4801;
    border: 2px solid #8c4801;
 
}

#social-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7cm;
    background-color: #feebf1;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    color: #8c4801;
    text-align: left;
    position: relative;
}

#social-images img {
    width: 275px;
    height: 245px;
}

#social-images img:hover {
    opacity: 0.8;
}


/* for footer */

#footer {
    display: flex;
    width: 100%;
    background-color: #b29680;
}

#social-media {
    text-align: center;
    width: 40%;
}


#contact {
    width: 60%;
    text-align: center;
}

.contact-info {
    display: inline-block;
    margin: 10px; 
    text-align: left;
}

.contact-info img {
    margin-bottom: 5px; 
}

/* menu */

#menu-box {
    width: 80%;
    padding: 1%;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.menu-rectangle {
    flex: 3;
    border: 2px solid #000;
    background-color: transparent;
    padding: 2px;
    box-sizing: border-box;
}

/*flex menu*/

.flex-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center; 
    margin-top: 2%;
}

.flex-menu img {
    width: 400px;
    height: 400px;
}

.flex-menu img:hover {
    opacity: 0.8;
}

/*for location*/

/*for location*/
#location00 {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    text-align: center;
}

#location1 img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    margin-bottom: 10px; /* Add some margin at the bottom of the image */
}

.location-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#locations-tag, #operating-hours, #others {
    flex-basis: 30%; /* Each child takes up to 30% of the width */
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}


/*for the container on index and franchise*/
@media only screen and (max-width: 600px) {
    #container {
        flex-direction: column;
    }

    #left-half, #right-half {
        width: 100%;
    }

    #right-half {
        order: -1;
    }
}
/* For Nav Bar and the line on index*/
@media screen and (max-width: 768px) {
    #logo {
        text-align: center; 
    }

    ul {
        text-align: center; 
        padding: 0px; 
        font-size: small;
    }

    #line {
        display: none; 
    }

    #social-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        gap: 2px; 
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    ul {
        padding: 0; 
    }

    #social-images {
        grid-template-columns: repeat(4, 1fr); 
    }
}

/*For the footer*/
@media screen and (max-width: 768px) {
    #footer {
        display: flex;
        flex-direction: row; 
        align-items: center; 
    }

    #social-media, #contact {
        margin-bottom: 20px; 
        font-size: small;
    }

    .contact-info {
        margin-bottom: 10px; 
    }
}

/* for about us image*/
@media screen and (max-width: 768px) {
    .about-us-image {
        max-width: 100%; 
    }
}
/* for menu page*/
@media screen and (max-width: 768px) {
    #menu-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .menu-rectangle {
        margin-bottom: 20px;
        text-align: center;
        width: 80%;

    }

    .flex-menu img {
        width: 120px; 
        margin: 1%; 
        height: 150px;
        padding: 0 10%;
    }

    #reel iframe {
        width: 100%;
    }
}